body {
    background-image: url(./photos/aboutbg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
  text-align: center;
    margin: 20px 0;
   
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outbox {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .outbox {
        width: 80%;
        padding: 15px;
    }

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .outbox {
        width: 90%;
        padding: 10px;
    }

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }
}
